* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    border: 1px solid pink;

    &:focus {
        outline: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font: 32px "Century Gothic", Futura, sans-serif;
    margin: 10px 30px;
}

.desc {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 10px 30px 20px 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.speed-range {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.speed-range__label {
    font-weight: 600;
    display: block;
    margin: 0 10px;    
}

.speed-range__input {
    margin: 0 10px;   
    cursor: pointer;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
        margin-top: 10px; 
        width: 100%;
        height: 2px;
        background: black;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -10px; 
        border: 3px solid black;
        height: 22px;
        width: 14px;
        background: white;
        transition: 500ms all;

        &:hover {
            background: black;
        }
    }

    &::-moz-range-track {
        width: 100%;
        height: 2px;
        background: black;
    }
    
    &::-moz-range-thumb {
        border: 3px solid black;
        border-radius: 0;
        height: 14px;
        width: 10px;
        background: white;
        transition: 500ms all;

        &:hover {
            background: black;
        }
    }
}

.btn-section {
    display: flex;  
    justify-content: center;
    margin: 20px;
}

.btn-section__btn {
    font-weight: 600;
    padding: 10px;
    width: 100px;
    background: transparent;
    border: 3px solid black;
    margin: 0 10px;
    cursor: pointer;
    transition: 500ms all;

    &:hover {
        background: black;
        color: white;
    }
}

.btn-section__btn_active {
    background: black;
    color: white;
}
